* text=auto
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.rknn binary
*.whl binary
*.mp4 binary
*.wav binary
*.png binary
